// Place all the styles related to the motos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'partialReset';   //sass permite el uso de partials, que descongestionan este archivo y lo hacen más fácil de leer
@import 'partialWrapperCanvas';

$primary-color: #333;
$color-titulo-header: #fff;
$radio-round: 20px;
$width_logo: 30px;

.container {
}
.header_fijo {
	background-color: $primary-color;
	height: $width_logo; 
}

.texto_cuadro_eleccion_nueva_moto{
	margin-bottom:5px;
	color: $primary-color;
	text-align: center;
}	

.button_left{
	position:relative;
	float: left;
	width:15%;
	margin-top:42.5%;
	z-index:2;
}
.button_right{
	position:relative;
	float: right;
	width:15%;
	margin-top:42.5%;
	z-index:2;
}

/* Formulario que hace visible solo el boton de 'submit' */
#form_a_new_moto, #form_b_new_moto, #form_c_new_moto  {
	position: relative;
	display: block;
	z-index:3;
	margin-top: 90%;
}
/* boton para enviar el formulario de nueva moto */
.form_submit{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.contenido_central_app {
	display:block;
}

 /* imagenes */
.logo_header {
	position: absolute;
  display: inline;
	width: $width_logo;
 	height: $width_logo;	
	margin-left: 5px;
}
.texto_logo {
	position: absolute;
	display: inline;
 	margin-left: $width_logo*1.5;
	margin-top: $width_logo*0.25;	
}
/* Links */
a {
	color: #09c;
	text-decoration: none;
}
a:hover {
	color: #069;
	text-decoration: underline;
}
a:visited {
	color: #069;
}
/* Nueva Moto button */
a.new_moto {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 20%;
	background: #349bff;
	color: #fff;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}
/* Round corners */
.round {
	-moz-border-radius:$radio-round;
	-webkit-border-radius: $radio-round;
	border-radius:$radio-round;
}

/* Navigation */
nav {
	float: right;
	margin-top: $width_logo*0.127;	
}
nav {
	padding: 0 0.7em;
	white-space: nowrap;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}
nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}
nav ul li a:visited {
	color: #09c;
}
nav ul li a:hover {
	text-decoration: underline;
}

/* footer rules */
footer {
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
footer nav {
	float: none;
}
