<header class="header_fijo">
	<% logo = image_tag("engranaje_blanco.svg", :alt => "Taller Piñon | Moto Customization", :class => "logo_header") %>
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", '#' %></li>
			<li><%= link_to "acerca", '#' %></li>
			<li><%= link_to "Sign in", '#' %></li>
		</ul>
	</nav>
</header>
