

<%= link_to "Crea tu moto", new_moto_path, :class => "new_moto round" %>

<h1 class="titulo_visible_app"> Galeria de estilos de Piñon </h1>

<ul id="galeria_motos">
  <% @motos.each do |moto| %>
    <li>
			<%= link_to moto.nombre_autor, moto_path(moto) %>
    </li>
  <% end %>
</ul>

<h1 class="titulo_visible_app"> Galería de estilos de usuarios </h1>

