
<h1 class="titulo_visible_app"> Elije una base para partir </h1>

<section class="contendor_canvas_clicables">
	<div style="margin-left:15%"  class="canvas-wrap canvas-wrap-20">
		<p class="titulo_visible_app"> Estilos piñon </p>
		<canvas id="new_moto_op_1" class="canvas_opcion_nueva_moto"></canvas>
		<%= render partial: 'form_a_new_moto' %>
	</div>

	<div class="canvas-wrap canvas-wrap-20">
		<p class="titulo_visible_app"> Paleta de colores </p>
		<canvas id="new_moto_op_2" class="canvas_opcion_nueva_moto"></canvas>
		<%= render partial: 'form_b_new_moto' %>
	</div>

	<div class="canvas-wrap canvas-wrap-20">
		<p class="titulo_visible_app">  Desde cero </p>
		<canvas id="new_moto_op_3" class="canvas_opcion_nueva_moto"></canvas>
	</div>




</section>
<!-- <input type="hidden" id="nombre_moto" value=<%= @moto.nombre_autor %> >  -->
