
<h1 class="titulo_visible_app"> Elije una base para partir </h1>

<section class="contendor_canvas_clicables">
	<div style="margin-left:15%"  class="canvas-wrap canvas-wrap-20">
		<img class="button_left" src="../assets/flecha_iz.svg">
		<canvas id="new_moto_op_1" class="canvas_opcion_nueva_moto"></canvas>
		<%= render partial: 'form_a_new_moto' %>
		<p class="texto_cuadro_eleccion_nueva_moto"> Estilos piñon </p>
	</div>

	<div class="canvas-wrap canvas-wrap-20">
		<canvas id="new_moto_op_2" class="canvas_opcion_nueva_moto"></canvas>
		<%= render partial: 'form_b_new_moto' %>
		<p class="texto_cuadro_eleccion_nueva_moto"> Paleta de colores </p>
	</div>

	<div class="canvas-wrap canvas-wrap-20">
		<canvas id="new_moto_op_3" class="canvas_opcion_nueva_moto"></canvas>
		<%= render partial: 'form_c_new_moto' %>
		<p class="texto_cuadro_eleccion_nueva_moto">  Desde cero </p>
	</div>



</section>
<!-- <input type="hidden" id="nombre_moto" value=<%= @moto.nombre_autor %> >  -->
